html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif, Arial;
  max-width: 1200px;
  margin: 0 auto;
  background: #f6f7fb;
  color: #0f172a;
}
